@import '../../App.scss';


.home{
  display: flex;
  height: 100%;
  .left{
    overflow: hidden;
    flex: 20%;
    .side_bar{
      background-color: #001628;
      height: 100%;
      .user_name{
        padding: 15px;
        opacity: 0.8;
        >div{
          height: 30px;
          text-align: center;
          line-height: 30px;
          background: rgba(255, 255, 255, 0.2);
          color: white;  
        }
      }
      .item{
        color: #7C8691;
        cursor: pointer;
        .icon{
          position: absolute;
          height: 100%;
          line-height: 35px;
          left: 15px;
        }
        .index_page{
          position: relative;
          display: block;
          padding-left: 40px;
          height: 40px;
          line-height: 40px;
          color: $color;
          font-size: 14px;
        }
        .active{
          background-color: $background-color;
          color: white;
          box-shadow: $box-shadow;
        }
        .accordion-item{
          position: relative;
          margin: 10px 0;
          background-color: transparent;
          .accordion-button {
            padding-left: 40px;
            height: 40px;
            color: $color;
            font-size: 14px;
            background-color: transparent;
            &:hover{
              color: white;
            }
          }
          .child{
            display: block;
            margin: 5px 0;
            padding-left: 5px;
            height: 35px;
            line-height: 35px;
            font-size: 14px;
            &:hover{
              color: white;
            }
          }

        }
      }
    }
  }
  .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    .logOut{
      height: 70px;
      background-color: white;
      .logOut_box{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        span{
          margin-right: 10px;
          color: $background-color;
        }
      }
    }
    .content{
      flex: 80%;
      padding: 0 20px;
      height: 100%;
      background-color: #EFF2F5;
    }
    .footer{
      flex: 20%;
      line-height: 70px;
      text-align: center;
      font-size: 14px;
      color: $color;
      background-color: #EFF2F5;
    }
  }
}